version: '3.8'

services:
  worker:
    build:
      context: .
      dockerfile: TestWorker/Dockerfile
    environment:
      - RABBITMQ_HOST=message-broker
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=${RABBITMQ_DEFAULT_USER}
      - RABBITMQ_PASS=${RABBITMQ_DEFAULT_PASS}
    networks:
      - aips-network
    restart: unless-stopped

networks:
  aips-network:
    external: true
    name: aips-network
